<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dogs breeds</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/album.css') }}">
</head>

<body>

  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Use Deep Learning to predict your image! Convolutional Neural Networks are great for recognizing object on image, check how good they are with recognizing dogs breeds. They are trained on around 6000 images with 133 different dog breeds. You can download dataset by clicking on the link on the right.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Dataset</h4>
            <ul class="list-unstyled">
              <li><a href="https://s3-us-west-1.amazonaws.com/udacity-aind/dog-project/dogImages.zip" class="text-white">Download dataset</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <img src="../static/images/dog-silhouette-svg-19.png" width="40" height="40">
          <strong>Dogs Breeds Classifier</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>


  <section class="jumbotron text-center">
    <div class="container">
      <h1>Check the breed of dog based on his photo</h1>
      <p class="lead text-muted">Upload a photo and press the predict button to check the dog's breed</p>
      <img id="blah" src="../static/images/dog_placeholder.png" class="img" height="320" width="320" alt="dog_image">
      <form method="post" action="/" enctype="multipart/form-data">
          <input type="file" class="btn btn-outline-primary my-2" name="file" onchange="readURL(this);" autocomplete="off" required>
          <button type="checkbox" class="btn btn-outline-success">Predict</button>
      </form>
    </div>
  </section>


  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../static/images/original.jpg" width="348">
            <div class="card-body">
              <p class="card-text">Your dog is as smart as a two-year old! Ever wonder why children around this age seem to have a special bond with the family dog? It could be because they speak the same language, roughly 250 words and gestures in fact.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.livescience.com/5613-dogs-smart-2-year-kids.html" button type="button" class="btn btn-sm btn-outline-secondary">Read more</button></a>
                </div>
                <small class="text-muted">5 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../static/images/5b7fdeab1900001d035028dc.jpeg" width="348" height="190">
            <div class="card-body">
              <p class="card-text">Man’s best friend? Petting a dog and gazing into their eyes releases oxytocin (i.e the “love hormone”) not only for you, but for them as well.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://blogs.scientificamerican.com/dog-spies/mane28099s-best-friend-the-mysterious-role-of-oxytocin-revealed/" button type="button" class="btn btn-sm btn-outline-secondary">Read more</button></a>
                </div>
                <small class="text-muted">8 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../static/images/Bernese-Mountain-Dog_01.jpg" width="348" height="190">
            <div class="card-body">
              <p class="card-text">Your dog can smell your feelings. In fact, your dog’s sense of smell is approximately 100,000 times better than yours. So it shouldn’t be shocking that they can in fact, smell things such as fear. When a human is fearful, they perspire, and a dog is easily able to pick up on this change.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.doghealth.com/how-and-why/how-dogs-sense-emotions" button type="button" class="btn btn-sm btn-outline-secondary">Read more</button></a>
                </div>
                <small class="text-muted">5 mins</small>
              </div>
            </div>
          </div>
        </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="../static/scripts/interactions.js"></script>
</body>
</html>

